
img.navbar-brand {
    width: auto;
    height: 8vh;
    
}
i.bi-search{
    font-size: 1.3rem;
    color: #4C11EA !important;
    margin: 0px 15px;
}


.cabecalho{
    background-color: rgb(20, 18, 18);
    height: 10vh;
    padding: auto 15px;
}

.titulo {
    padding: 15px;
    color: #4C11EA;
    text-align: center;
}

.filme {
    background-color: black;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
}

.img {
    margin-right: 15px;
    margin-bottom: 25px;
    float: left;
}

i.redes {
    color: #4C11EA;
    font-size: 2rem;
    margin-right: 15px;
}

.footer_area{
    margin-top: 20px;
    text-align: center;
}

.footer{ 
    padding: 20px;
    background: rgb(32, 32, 32);
    color: white;
}
